.service
{
	margin: 5% 0px 0px 10px;
	padding: 10px 0px 0px 10px;
	width: 20%;
	font-style: italic;

}

/*
focus : après clique
hover : passage de la souris
*/
.service a, a:focus
{
	color : black;
	text-decoration:  : none;
}
.service a:hover 
{
	color : blue;
	text-decoration: none;
}

.titre
{	
	display: block;
	background-color: red;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	margin-bottom: -10px;
	padding: 0;
	text-align: center;
	
}
.titre h1
{
	font-family: Monospace;
	font-size: 20px;
	font-weight: bold;
}
.contenu li
{
	margin: 0px 5px 0px 5px;
}
.contenu
{
	background-color: aliceblue;
	border: 1px solid red;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}